.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    }

    .buddies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        }
        
        .div1 { grid-area: 1 / 2 / 2 / 3; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }

    body{
        background-color: #f5f5;
    }